h1 {
    font-size: 2.1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #121214;
    font-weight: 200;
    letter-spacing: -1px;
    margin: 0;
}

h1 {
    color: #000;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 44px;
}

h2, h3 {
    color: #000;
    font-weight: 300;
    margin: 0 0 32px;
    line-height: 30px;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.8em;
}

h4, h5, h6 {
    font-weight: 400;
    letter-spacing: normal;
    margin: 0 0 14px;
    color: #000;
}

h4 {
    font-size: 1.7em;
    line-height: 30px;
}

h5 {
    font-size: 1em;
    line-height: 27px;
    font-weight: bold;
}

h6 {
    font-size: 1em;
    line-height: 18px;
}

h2.head-line {
    font-size: 2.6em;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 32px;
    text-align: center;
}

h1.big {
    font-size: 4.2em;
    line-height: 54px;
}

h1.short, h2.short {
    margin-bottom: 15px;
}

h3.short, h4.short, h5.short, h6.short {
    margin-bottom: 9px;
}

h1.shorter, h2.shorter, h3.shorter, h4.shorter, h5.shorter, h6.shorter {
    margin-bottom: 20px;
}

h1.tall, h2.tall, h3.tall, h4.tall, h5.tall, h6.tall {
    margin-bottom: 33px;
}

h1.taller, h2.taller, h3.taller, h4.taller, h5.taller, h6.taller {
    margin-bottom: 44px;
}

p {
    color: #000;
    line-height: 24px;
    margin: 0 0 20px;
}

    p.tall {
        margin-bottom: 20px;
    }

    p.featured {
        margin-bottom: 40px;
        font-weight: 200;
        line-height: 1.5;
        text-align: center;
        font-size: 1.6em;
    }

.blankSeparatorMed, .blankSeparatorSmall, .blankSeparatorTall {
    margin-bottom: 30px;
    display: block;
}

p.featured-home {
    font-weight: 600;
    text-align: center;
    line-height: 2;
    font-size: 2em;
    margin-top: 25px;
}

.featured-title {
    font-weight: 500;
}

.featured-title-a {
    font-weight: 600;
}

.alternative-font {
    color: #f26522;
    font-style: italic;
    font-weight: bold;
}

.alternative-font-b-y {
    color: #f8ba0e;
    /*font-style: italic;*/
    font-weight: bold;
}

.alternative-font- {
    color: #f8ba0e;
    font-weight: bold;
}

.review {
    margin-bottom: 10px;
}

.game {
    border: solid 2px #000;
    margin-top: 50px;
}

.characters {
    border: solid 2px #000;
}

.game-mobile {
    border: solid 2px #000;
    margin-top: 50px;
}

.breadcrumb a {
    color: #fff;
}

a, body {
    color: #000;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.clickable {
    cursor: pointer;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cen {
    text-align: center;
}

.blankSeparatorSmall {
    height: 20px;
}

.blankSeparatorMed {
    height: 150px;
}

.blankSeparatorTall {
    height: 250px;
}

span.centered {
    margin: 0;
}

div.fontawesome-icon-list [class*=col-md-] {
    margin-bottom: 9px;
}

div.fontawesome-icon-list i {
    font-size: 1.3em;
    margin-right: 5px;
    display: inline-block;
    width: 30px;
    text-align: center;
    position: relative;
    top: 2px;
}

div.show-grid [class*=col-md-] span.show-grid-block {
    line-height: 40px;
    min-height: 40px;
    text-align: center;
    display: block;
}

body {
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    height: auto;
    background: url(/img/boxymo-background.png) center center repeat;
    background-size: 60%;
    background-position: 0px 46px;
}

.container-b {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #000;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}

.container-outline {
    height: auto;
    margin-bottom: 10px;
    margin-top: 1px;
    display: table;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.main {
    /*background-color: #f5f5f5;
padding: 20px;
box-shadow: 0 0 4px rgba(0,0,0,.2);*/
}

.main-other {
    background-color: #fbfbfb;
    padding: 0 10px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
}

body header {
    padding: 15px 0;
}

a.scroll-to-top {
    -moz-border-radius: 7px 7px 0 0;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 7px 7px 0 0;
    -webkit-transition: all .3s;
    background: #000;
    border-radius: 7px 7px 0 0;
    bottom: 0;
    color: #f8ba0e;
    display: block;
    height: 9px;
    opacity: 0;
    padding: 13px 0 35px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    width: 49px;
    z-index: 1040;
}

.carousel-inner {
    border: 3px solid #f5f5f5;
    margin-top: 46px;
}

.logo a, .logo img, header nav ul.nav-main .dropdown-submenu, header nav ul.nav-top li i, header > div.container {
    position: relative;
}

a.scroll-to-top:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

a.scroll-to-top.visible {
    filter: alpha(opacity=75);
    opacity: .75;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: -28px;
}

header > div.container {
    height: 100px;
    margin-bottom: -35px;
    display: table;
    max-width: 1170px;
    background-color: #fff;
    overflow: hidden;
}

header.flat-menu ul.nav-main {
    float: right;
    margin: -9px 0 -8px;
}

header.flat-menu nav ul.nav-main li a {
    margin-left: 1px;
    margin-right: 3px;
    padding-bottom: 20px;
    padding-top: 46px;
}

header.flat-menu ul.nav-main > li > a {
    margin-bottom: 0;
    border-top: 5px solid transparent;
}

header.flat-menu nav ul.nav-main li.dropdown:hover a.dropdown-toggle, header.flat-menu ul.nav-main li a {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

header.flat-menu nav ul.nav-main li.dropdown:hover > a {
    padding-bottom: 21px;
}

header.flat-menu nav ul.nav-main ul.dropdown-menu {
    margin: 0 0 0 1px;
}

    header.flat-menu nav ul.nav-main ul.dropdown-menu, header.flat-menu nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

header.colored nav ul.nav-main li a {
    padding-bottom: 24px;
    padding-top: 50px;
}

header.colored nav ul.nav-main li.dropdown:hover > a {
    padding-bottom: 24px;
}

header.darken-top-border ul.nav-main {
    margin: -11px 0 -9px;
}

header nav ul.nav-main li.active a, header nav ul.nav-main li.dropdown.open a.dropdown-toggle, header nav ul.nav-main li.dropdown:hover a, header nav ul.nav-main ul.dropdown-menu {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #338846;
    background-image: -moz-linear-gradient(top,#39974e,#2b723b);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#39974e),to(#2b723b));
    background-image: -webkit-linear-gradient(top,#39974e,#2b723b);
    background-image: -o-linear-gradient(top,#39974e,#2b723b);
    background-image: linear-gradient(to bottom,#39974e,#2b723b);
    background-repeat: repeat-x;
    border-color: #2b723b #2b723b #163a1e;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

header nav ul.nav-main li a:hover {
    background: #444;
    color: #fff;
    border-radius: 0;
}

.logo, .logo img {
    color: transparent;
}

button.btn-responsive-nav {
    display: none;
}

.logo {
    margin: 0;
    padding: 5px 0;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    -moz-transition: all .2s ease-in .2s;
    -o-transition: all .2s ease-in .2s;
    -webkit-transition: all .2s ease-in .2s;
    transition: all .2s ease-in .2s;
}

    .logo a {
        z-index: 1;
    }

    .logo img {
        border: none;
    }

header nav {
    float: right;
    padding-right: 30px;
    margin-top: -50px;
    /* margin-bottom: 20px; */
}

header div.nav-main-collapse, header div.nav-main-collapse.in {
    overflow-y: visible;
}

header nav ul.nav-main {
    margin: -7px -50px 8px 0;
}

    header nav ul.nav-main > li + li {
        margin-left: -4px;
    }

    header nav ul.nav-main .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px;
    }

    header nav ul.nav-main .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    header nav ul.nav-main .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent #ccc;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        margin-top: 5px;
        margin-right: -10px;
    }

    header nav ul.nav-main .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    header nav ul.nav-main .dropdown-submenu.pull-left {
        float: none;
    }

        header nav ul.nav-main .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

    header nav ul.nav-main li.dropdown.open a.dropdown-toggle {
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    header nav ul.nav-main li.active a, header nav ul.nav-main li.dropdown.open a.dropdown-toggle, header nav ul.nav-main ul.dropdown-menu {
        background-color: #CCC;
    }

    header nav ul.nav-main ul.dropdown-menu {
        -moz-border-radius: 0 6px 6px;
        -moz-box-shadow: 0 2px 3px rgba(0,0,0,.08);
        -webkit-border-radius: 0 6px 6px;
        -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.08);
        border: 0;
        border-radius: 0 6px 6px;
        box-shadow: 0 2px 3px rgba(0,0,0,.08);
        margin: 1px 0 0 3px;
        padding: 5px;
        top: auto;
    }

        header nav ul.nav-main ul.dropdown-menu ul.dropdown-menu {
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            margin-left: 0;
            margin-top: -5px;
        }

        header nav ul.nav-main ul.dropdown-menu li:hover > a {
            filter: none;
            background: #999;
        }

        header nav ul.nav-main ul.dropdown-menu > li > a {
            color: #FFF;
            font-weight: 400;
            text-transform: none;
            position: relative;
            padding: 8px 10px 8px 5px;
            font-size: .9em;
            border-bottom: 1px solid rgba(255,255,255,.2);
        }

        header nav ul.nav-main ul.dropdown-menu li:last-child > a {
            border-bottom: 0;
        }

    header nav ul.nav-main li a {
        font-size: 14px;
        font-style: normal;
        line-height: 20px;
        margin-left: 3px;
        margin-right: 3px;
        font-weight: 700;
    }

    header nav ul.nav-main li ul a {
        text-transform: none;
        font-weight: 400;
        font-size: .9em;
    }

    header nav ul.nav-main li.dropdown:hover > a {
        padding-bottom: 11px;
        margin-bottom: -1px;
    }

    header nav ul.nav-main li.dropdown:hover a.dropdown-toggle {
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
    }

    header nav ul.nav-main li.dropdown:hover > ul {
        display: block;
    }

header nav ul.nav-top {
    margin: 10px;
}

    header nav ul.nav-top li span {
        display: block;
        line-height: 14px;
        margin-bottom: 2px;
        margin-right: 0;
        margin-top: 5px;
    }

    header nav ul.nav-top li a, header nav ul.nav-top li span {
        color: #999;
        font-size: .9em;
        padding: 6px 3px;
        text-decoration: underline;
    }

    header nav ul.nav-top li i {
        margin-right: 6px;
        top: 1px;
    }

#header.single-menu nav.mega-menu .mega-menu-signin {
    margin-right: 0;
}

#header nav ul.nav-main li a {
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    margin-left: 3px;
    margin-right: 3px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 13px;
}

a.button-sm {
    padding: 7px 10px 7px 12px;
    display: inline-block;
    border: 1px solid #DDDDDD;
    position: relative;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.green-btn {
    background: #4cae4c;
    color: #FFFFFF !important;
}

    .green-btn:hover {
        color: #fff;
        background-color: #449d44;
        border-color: #ddd;
        text-decoration: none;
    }

.white-btn {
    background: #fff;
    color: #999 !important;
}

    .white-btn:hover {
        color: #000;
        background-color: #fefcfc;
        border-color: #ddd;
        text-decoration: none;
    }

.signin-btn {
    display: none;
}

.quote-btn {
    margin-bottom: 70px;
    margin-top: 70px;
}

div.header-top {
    background-color: #f5f5f5;
    border-bottom: 3px solid #040404;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #000;
    border-radius: 10px;
}

.panel-body {
    padding: 15px;
    background-color: #fff;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.btn-block {
    display: block;
    width: 100%;
    padding: 13px;
    font-size: 16px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 0;
}

.table {
    background-color: #fff !important;
}

.breadcrumb {
    border-radius: 0 !important;
}

/*
@media (min-width:992px) {
    nav.mega-menu .collapse, nav.mega-menu .dropdown, nav.mega-menu .dropup, nav.mega-menu .nav {
        position: static;
    }

    header nav.mega-menu ul.nav-main .mega-menu-content {
        text-shadow: none;
    }

    header nav.mega-menu ul.nav-main li.mega-menu-item ul.dropdown-menu {
        background: #FFF !important;
        border-top: 6px solid #CCC;
        color: #777;
        -moz-box-shadow: 0 20px 45px rgba(0,0,0,.08);
        -webkit-box-shadow: 0 20px 45px rgba(0,0,0,.08);
        box-shadow: 0 20px 45px rgba(0,0,0,.08);
    }

    header nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    header.flat-menu nav.mega-menu ul.nav-main li.mega-menu-fullwidth ul.dropdown-menu {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    header nav.mega-menu ul.nav-main li.mega-menu-item .mega-menu-sub-title {
        color: #333;
        display: block;
        font-size: 1em;
        font-weight: 600;
        padding-bottom: 5px;
        text-transform: uppercase;
    }

    header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        header nav.mega-menu ul.nav-main li.mega-menu-item ul.sub-menu a {
            color: #777;
            text-shadow: none;
            margin: 0 0 0 -8px;
            padding: 3px 8px;
            text-transform: none;
            font-size: .9em;
            display: block;
            font-weight: 400;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

    header nav.mega-menu ul.nav-main li.mega-menu-item:hover ul.sub-menu li:hover a:hover {
        background: #F4F4F4 !important;
        text-decoration: none;
    }

    nav.mega-menu .container, nav.mega-menu .navbar-inner {
        position: relative;
    }

    nav.mega-menu .dropdown-menu {
        left: auto;
    }

        nav.mega-menu .dropdown-menu > li {
            display: block;
        }

    nav.mega-menu .nav.pull-right .dropdown-menu {
        right: 0;
    }

    nav.mega-menu .mega-menu-content {
        padding: 20px 30px;
    }

        nav.mega-menu .mega-menu-content:after, nav.mega-menu .mega-menu-content:before {
            display: table;
            content: "";
            line-height: 0;
        }

        nav.mega-menu .mega-menu-content:after {
            clear: both;
        }

    nav.mega-menu.navbar .nav > li > .dropdown-menu:after, nav.mega-menu.navbar .nav > li > .dropdown-menu:before {
        display: none;
    }

    nav.mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
    }
}*/

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.1),rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.1),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.1),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,.1),rgba(0,0,0,0));
    margin: 22px 0;
}

.sepContainer, .sepContainer-quote {
    height: 20px;
    background: url(../img/separatorBG.png) repeat-x;
    display: block;
}

hr.short {
    margin: 0;
}

hr.med {
    margin: 20px 0 0;
}

hr.tall {
    margin: 25px 0 35px;
}

hr.taller {
    margin: 66px 0;
}

.sepContainer {
    margin: 30px 0;
}

.sepContainer-quote {
    margin: 0 0 30px;
}

.sep-container {
    border: 1px solid #e5e640;
    background-color: #fcb814;
    min-height: 5px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-custom-darken {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #338846;
    background-image: -moz-linear-gradient(top,#39974e,#2b723b);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#39974e),to(#2b723b));
    background-image: -webkit-linear-gradient(top,#39974e,#2b723b);
    background-image: -o-linear-gradient(top,#39974e,#2b723b);
    background-image: linear-gradient(to bottom,#39974e,#2b723b);
    background-repeat: repeat-x;
    border-color: #2b723b #2b723b #163a1e;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.tp-banner .heading, .tp-banner .paragraph {
    font-family: 'Open Sans',sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,.25);
}

.btn-custom-darken.active, .btn-custom-darken.disabled, .btn-custom-darken:active, .btn-custom-darken:focus, .btn-custom-darken:hover, .btn-custom-darken[disabled] {
    color: #fff;
    background-color: #2b723b;
}

.btn-custom-darken.active, .btn-custom-darken:active {
    background-color: #1d4d28;
}

.btn-lg {
    padding: 15px 21px;
    font-size: 28px;
}

.btn-success {
    /*color: #000;
    background-color: #fff;*/
    border-color: #4cae4c;
    border-radius: 0;
    /*box-shadow: 4px 4px 4px -4px #000;*/
}

.btn-default {
    border-radius: 0;
    /*box-shadow: 4px 4px 4px -4px #000;*/
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
}

.quote {
    text-align: center;
    margin-top: -12px;
    margin-bottom: 30px;
}

.quote-mobile {
    text-align: center;
    margin-top: -12px;
    margin-bottom: 30px;
}

.shadow {
    -webkit-box-shadow: 0 2px 10px 0 rgba(50,50,50,.3);
    -moz-box-shadow: 0 2px 10px 0 rgba(50,50,50,.3);
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.3);
}

#button-shadow, .button-shadow {
    -webkit-box-shadow: 0 1px 5px 0 rgba(50,50,50,.4);
    -moz-box-shadow: 0 1px 5px 0 rgba(50,50,50,.4);
    box-shadow: 0 1px 5px 0 rgba(50,50,50,.4);
}

.slider {
    padding-left: 25px;
    padding-right: 25px;
}

.tp-banner-container {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 50px;
    background: #eee;
}

.tp-banner {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

    .tp-banner ul {
        display: none;
    }

        .tp-banner ul li {
            padding: 0;
            background: 0 0 !important;
        }

    .tp-banner .heading {
        font-size: 90px;
        font-weight: 700;
    }

    .tp-banner .paragraph {
        font-size: 22px;
        line-height: 36px;
        font-weight: 400;
    }

.tp-caption.large_bold_white, .tp-caption.medium_light_white {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
}

.tp-caption.modern_big_redbg {
    font-size: 18px;
}

.tp-caption.very_large_text {
    font-size: 55px;
}

.tp-caption.medium_text {
    font-size: 18px;
}

.tp-banner a.btn {
    padding: 6px 14px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}

.career .tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0;
}

.member-content .details {
    margin: 20px 0 0 20px;
    position: relative;
    padding: 30px 30px 30px 100px;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgba(0,0,0,.08);
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.member-content {
    margin-bottom: 30px;
}

.member-thumb {
    text-align: center;
}

    .member-thumb h4 {
        font-size: 21px;
        margin: 10px 0;
    }

    .member-thumb .title {
        font-size: 18px;
        margin: 10px 0;
        color: #5CC9DF;
    }

.member-content:hover .details {
    background: #5bc0de;
    color: #fff;
}

.member-content.right .details {
    margin: 20px 20px 0 0;
    box-shadow: -5px 5px 0 rgba(0,0,0,.08);
}

.member-content .details:after {
    display: block;
    content: "";
    position: absolute;
    left: -18px;
    top: 30px;
    width: 0;
    height: 0;
    background: 0 0;
    border: 20px solid transparent;
    border-left: 20px solid #f5f5f5;
    box-shadow: -3px 0 0 rgba(0,0,0,.08);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: border-left-color .3s ease-out;
    transition: border-left-color .3s ease-out;
}

.member-content.right .details:after {
    position: absolute;
    left: auto;
    right: -17px;
    border-left: 20px solid transparent;
    border-right: 20px solid #f5f5f5;
    box-shadow: 3px 0 0 0 rgba(0,0,0,.08);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: border-right-color .3s ease-out;
    transition: border-right-color .3s ease-out;
}

.member-content:hover .details:after {
    border-left-color: #5CC9DF;
}

.member-content.right:hover .details:after {
    border-left-color: transparent;
    border-right-color: #5CC9DF;
}

.member-content .details:before {
    display: block;
    content: "\201D";
    position: absolute;
    left: 20px;
    top: 50px;
    font-size: 120px;
    font-weight: 800;
    line-height: 60px;
    font-family: Arial;
    color: #fcb814;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.member-content:hover .details:before {
    color: #fff;
}

.img-thumbnail-home-quote-bg {
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    width: 100%;
    height: auto;
}

.img-bg, .panel-body-text {
    border-right: 1px solid #f8f5f5;
    background-color: #fefcfc;
}

.up {
    margin-bottom: -17px;
}

.panel-body-text {
    border-left: 5px solid rgba(0,0,0,.08);
    border-top: 1px solid #f8f5f5;
    border-bottom: 1px solid #f8f5f5;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
}

.img-bg {
    border-left: 1px solid #f8f5f5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 5px;
    width: 99.6%;
    margin-left: 0;
}

.news-story, .underline {
    margin-left: 20px;
}

.quote-section {
    margin-bottom: 50px;
    margin-top: 50px;
}

.panel-title-boxymo {
    padding: 10px;
    background-color: #f5f5f5;
}

.panel-title-boxymo-box {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-title-boxymo-black {
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    box-shadow: 6px 6px 1px -3px rgba(0,0,0,.2);
}

.panel-title-boxymo-b {
    padding: 10px;
    background-color: #f5f5f5;
    /*box-shadow: 0 6px 0 -3px rgba(0,0,0,.1);*/
    box-shadow: 4px 4px 4px -4px #000;
}

.panel-title-boxymo-p {
    padding: 15px;
    background-color: #f5f5f5;
}

.panel-title-boxymo-a {
    padding: 10px;
    background-color: #fbfbfb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.bg-shd {
    background-color: #fff;
    padding: 10px;
    /*box-shadow: 0 6px 0 -3px rgba(0,0,0,.1);*/
    box-shadow: 4px 4px 4px -4px #000;
}

.bg-shd-help {
    background-color: #fff;
    padding: 10px;
    box-shadow: 1px 1px 15px -4px #000;
    color: #000;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #444;
}

h3.panel-body-title {
    color: #333;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

h3.panel-body-title-news {
    color: #333;
    text-align: center;
    font-size: 20px;
    margin-top: -30px;
    padding: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    font-weight: bold;
    font-size: 12px;
}

ul.panel-body-list {
    padding: 20px;
}

    ul.panel-body-list li {
        margin-bottom: 20px;
    }

ul.panel-body-news-list {
    margin-top: 20px;
}

    ul.panel-body-news-list li {
        padding: 5px;
        color: #333;
    }

.date, .underline {
    color: #a3c942;
    font-weight: 300;
}

p.panel-body-below-text {
    padding: 30px;
}

.date {
    font-size: 14px;
}

.underline {
    text-decoration: underline;
}

ul.quick-links {
    font-size: 12px;
}

.testimonial {
    margin: 0;
    background: #f9f9f9;
    padding: 20px 50px;
    position: relative;
    font-family: Georgia,serif;
    color: #666;
    border-radius: 5px;
    font-style: italic;
    text-shadow: 0 1px 0 #ECFBFF;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f9f9f9;
    margin: 0 0 0 25px;
}

.testimonial-author {
    margin: 0 0 0 25px;
    font-family: Arial,Helvetica,sans-serif;
    color: #999;
    text-align: left;
}

    .testimonial-author span {
        font-size: 12px;
        color: #666;
    }

section.page-not-found h2 {
    font-size: 120px;
    font-weight: 600;
    line-height: 140px;
}

div.page-not-found-main {
    margin-top: 25px;
    text-align: center;
}

section.page-not-found {
    margin: 50px 0;
}

    section.page-not-found p {
        font-size: 1.4em;
        line-height: 36px;
    }

ul.icons {
    list-style: none;
}

    ul.icons [class^=icon-] {
        margin-right: 5px;
    }

i.icon-featured {
    background-color: #08c;
}

#home-list {
    padding-top: 20px;
}

    #home-list h4 {
        text-align: center;
    }

    #home-list ul {
        padding-left: 50px;
    }

ul.list li {
    margin-bottom: 13px;
}

ul.list.icons li i {
    color: #f8ba0e;
    margin-right: 5px;
}

ul.list.pull-left li {
    text-align: left;
}

.social-icons {
    width: 90%;
}

ul.social-icons {
    margin-left: 18px;
    padding: 0;
    width: auto;
}

    ul.social-icons li {
        background-position: 0 100px;
        display: inline-block;
        padding: 10px;
        overflow: visible;
    }

        ul.social-icons li a {
            display: block;
            height: 30px;
            width: 30px;
            text-align: center;
        }

#footer {
    font-size: .9em;
}

    #footer a:hover {
        color: #CCC;
    }

    #footer ul.list.icons li {
        margin-bottom: 5px;
    }

    #footer .container .row > div {
        margin-bottom: 25px;
    }

    #footer .container input:focus {
        box-shadow: none;
    }

    #footer .contact {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #footer .contact i {
            display: block;
            float: left;
            font-size: 1.2em;
            margin: 7px 8px 10px 0;
            position: relative;
            text-align: center;
            top: -2px;
            width: 16px;
        }

            #footer .contact i.fa-envelope {
                font-size: 1em;
                top: 0;
            }

        #footer .contact p {
            margin-bottom: 10px;
        }

    #footer .footer-copyright {
        background: #060606;
        border-top: 4px solid #060606;
        margin-top: 40px;
        padding: 30px 0 10px;
    }

        #footer .footer-copyright nav {
            float: right;
        }

            #footer .footer-copyright nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

                #footer .footer-copyright nav ul li {
                    border-left: 1px solid #505050;
                    display: inline-block;
                    line-height: 12px;
                    margin: 0;
                    padding: 0 8px;
                }

                    #footer .footer-copyright nav ul li:first-child {
                        border: none;
                        padding-left: 0;
                    }

        #footer .footer-copyright p {
            color: #555;
            margin: 0;
            padding: 0;
        }

    #footer .phone {
        color: #f26522;
        font-size: 22px;
        font-weight: 700;
        display: block;
        padding-bottom: 20px;
    }

    #footer.short {
        /*padding-top: 30px;*/
    }

        #footer.short .footer-copyright {
            background: 0 0;
            border: 0;
            padding-top: 0;
            margin-top: 0;
        }

@media (min-width: 1199px) {

    header nav ul.nav-top .myaccount {
        display: none;
    }

    .desktop-991 {
        display: none;
    }

    .mobile-scroll {
        display: none;
    }

    .boxymo-other {
        width: 97%;
    }

    .boxymo-other-us {
        width: 80%;
    }

    .yd-6-other {
        display: none;
    }

    #live-chat-button {
        margin-left: 22%;
    }

    .mybox {
        font-size: 12px;
    }

    .quote-mobile {
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1024px) {

    .game-mobile {
        display: none;
    }

    .slider-quote {
        font-size: 11px;
    }

    .quote-mobile {
        display: none;
    }

    .car-icon {
        margin: 20px 0 0 0;
    }

    .health-icon {
        margin: 20px 0 0 0;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    .desktop991 {
        margin-top: 30px;
    }

    #grey {
        display: none;
    }

    #grey1 {
        display: none;
    }

    .mobile-scroll {
        display: none;
    }

    .boxymo-other {
        width: 97%;
    }

    .boxymo-other-us {
        width: 80%;
    }

    .yd-6-other {
        display: none;
    }

    #live-chat-button {
        margin-left: 15%;
    }

   

    .mybox {
        font-size: 12px;
    }
}

@media (min-width: 992px) {

     .rt-font {
        font-size: 12px;
    }

    .device {
        display: none;
    }

    header nav ul.nav-top .myaccount {
        display: none;
    }

    .desktop-991 {
        display: none;
    }

    .boxymo-other {
        width: 100%;
    }

    .boxymo-other-us {
        width: 80%;
    }

    .mybox {
        font-size: 12px;
    }

    .yd-6-other {
        display: none;
    }

    .quote-mobile {
        display: none;
    }

    .game-mobile {
        display: none;
    }

    .rt-mobile {
        display: none;
    }
}

@media (max-width: 991px) {

    .rt-mobile {
        display: none;
    }

    .game-mobile {
        display: none;
    }

    .quote {
        display: none;
    }

    .quote-mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    header.single-menu button.btn-responsive-nav {
        top: 30px;
    }

    header.center button.btn-responsive-nav, header.flat-menu button.btn-responsive-nav {
        top: 35px;
    }

    button.btn-responsive-nav:hover, button.btn-responsive-nav:active, button.btn-responsive-nav:focus {
        color: #CCC;
    }
    /* Logo */
    header .logo img {
        max-width: 160px;
    }
    /* Nav Top */
    header div.header-top ul.nav-top {
        float: left;
        margin: 7px 0 0 -15px;
        min-height: 5px;
    }
    /* Scroll to Top */
    a.scroll-to-top {
        display: none !important;
    }

    div.home-intro p {
        text-align: center;
    }

    header nav ul.nav-top .myaccount {
        display: none;
    }

    .car-img {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .img-thumbnail-home-quote-bg {
        margin-bottom: 10px;
    }

    .desktop-991 {
        display: none;
    }

    .mobile-scroll {
        display: none;
    }

    .boxymo {
        width: 93%;
    }

    .boxymo-other {
        width: 93%;
    }

    .boxymo-other-us {
        width: 93%;
    }

    .yd-6 {
        display: none;
    }

    #live-chat-button {
        margin-left: 8%;
    }

    .cf-device {
        margin-top: 40px;
    }

    .mybox {
        font-size: 12px;
    }

    #leaderboard {
        margin-top:10px;
    }
}

@media (min-width: 768px) and (max-width: 768px) {

    .boxymo {
        width: 93%;
    }

    .boxymo-other {
        width: 93%;
    }

    .boxymo-other-us {
        width: 93%;
    }

    .mybox {
        font-size: 12px;
    }
}

@media (max-width: 767px) {

     .boxymo-game {
         margin-left:50%;
    }

    .rt {
        display: none;
    }

    .rt-mobile {
        display: block;
    }

    .game-mobile {
        display: block;
    }

    .game {
        display: none;
    }

    .container-outline {
        display: block;
    }

    /* Header */
    header {
        display: block;
    }

        header > div.container {
            width: 100%;
        }
        /* Navigation */
        header.center nav {
            width: auto;
        }

        header nav ul.nav-top {
            float: right;
            margin-right: 0;
        }
        /* Navigation */
        header div.nav-main-collapse, header div.nav-main-collapse.in {
            width: 100%;
            overflow: hidden;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        header nav.nav-main ul.nav-main {
            float: none;
            position: static;
            margin: 40px 0 0 0;
        }

        header div.nav-main-collapse.collapse {
            display: none !important;
        }

        header div.nav-main-collapse {
            top: 8px;
            position: relative;
        }

            header div.nav-main-collapse.in {
                display: block !important;
            }

        header div.nav-collapse div.container nav.nav-main {
            float: left;
            width: 100%;
        }

        header.flat-menu nav ul.nav-main li a {
            color: #FFF !important;
        }

        header div.nav-main-collapse {
            background: #171717;
            max-height: none;
        }

        header > div.container, header.flat-menu > div.container {
            margin-bottom: 0;
        }

        header nav ul.nav-main {
            margin-right: -10px;
        }

        header div.nav-collapse {
            background: #171717;
            width: 100%;
            clear: both;
            width: 100%;
        }

        header nav.nav-main {
            padding: 10px 0;
            clear: both;
            display: block;
            float: none;
            width: 100%;
        }

            header nav.nav-main ul, header nav.nav-main ul li, header.flat-menu ul.nav-main {
                padding: 0;
                margin: 0;
            }

                header nav.nav-main ul li {
                    clear: both;
                    float: none;
                    display: block;
                    border-bottom: 1px solid #2A2A2A;
                }

        header nav ul.nav-main > li + li {
            margin-left: 0;
        }

        header nav ul.nav-main li a, header nav ul.nav-main ul.dropdown-menu li > a, header.flat-menu nav ul.nav-main li a, header.flat-menu nav ul.nav-main li.dropdown:hover > a, body header.single-menu nav ul.nav-main li.active > a {
            padding: 9px 8px;
            border: 0;
            border-top: 0;
            margin: 0;
        }

        header nav.nav-main ul li:last-child, header nav ul.nav-main ul.dropdown-menu li > a {
            border-bottom: none;
        }

        header nav ul.nav-main li.dropdown:hover > a {
            margin-bottom: -2px;
        }

        header nav ul.nav-main li a {
            color: #FFF;
            clear: both;
            float: none;
            display: block;
            padding-left: 0;
        }

            header nav ul.nav-main li a i.icon-angle-down {
                position: absolute;
                right: 5px;
                top: 10px;
            }

        header nav.nav-main ul ul {
            margin-left: 20px !important;
        }

        header nav.nav-main ul.dropdown-menu {
            position: static;
            clear: both;
            float: none;
            display: none !important;
        }

        header nav ul.nav-main ul.dropdown-menu {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        header nav.nav-main li.resp-active > ul.dropdown-menu {
            display: block !important;
        }

        header nav ul.nav-main .dropdown-submenu > a:after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #FFF;
        }

        header nav ul.nav-main .dropdown-submenu:hover > a:after {
            border-left-color: transparent;
        }

    body header nav ul.nav-main ul.dropdown-menu, body header nav ul.nav-main li.dropdown.open a.dropdown-toggle, body header nav ul.nav-main li a, body header nav ul.nav-main li.active a, body header nav ul.nav-main li.dropdown:hover a, body header nav ul.nav-main ul.dropdown-menu li:hover > a, body header nav ul.nav-main li.dropdown:hover ul.dropdown-menu li > a:hover, body header.flat-menu nav ul.nav-main li.dropdown:hover a {
        background: none !important;
        background-color: transparent !important;
    }

    header.center nav ul.nav-main > li {
        display: block;
    }

    header nav ul.nav-main ul.sub-menu {
        padding: 0;
        margin: 0 0 10px 0;
    }

    /* Responsive Button Nav */
    button.btn-responsive-nav {
        background: #171717;
        top: 100px;
        display: block;
        position: absolute;
        right: 20px;
        color: #FFF;
    }

    button.btn-responsive-nav1 {
        background: #171717;
        top: 50px;
        display: block;
        position: absolute;
        right: 20px;
        color: #FFF;
    }

    div.home-intro {
        overflow: hidden;
    }

    p.home-page-text {
        text-align: center;
    }

    .help-centre {
        margin-bottom: 20px;
    }

    header nav ul.nav-top .myaccount {
        display: block;
        margin-right: -20px;
    }

    header nav ul.nav-top .live-chat {
        display: none;
    }

    header nav ul.nav-top .customer-help {
        display: none;
    }

    .desktop991 {
        display: none;
    }

    .desktop-991 {
        display: block;
        margin-top: 30px;
    }

    h3.panel-body-title-news {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .boxymo {
        width: 100%;
    }

    .boxymo-other {
        width: 100%;
    }

    .boxymo-other-us {
        width: 100%;
    }

    #live-chat-button {
        margin-left: 24%;
    }

    .mybox {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .mobile-scroll {
        display: block;
    }

    /*.device-font {
        font-size: 24px;
    }*/

    .myboxymo {
        font-size: 18px;
    }
}

@media (max-width: 500px) {

    a.button-sm {
        padding: 7px 10px 7px 12px;
        display: inline-block;
        border: 1px solid #DDDDDD;
        position: relative;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 8px;
    }

    .nav {
        margin-right: -15px;
    }

    .mybox {
        font-size: 10px;
    }
}

@media (max-width: 480px) {

    body {
        font-size: 13px;
    }

    h2 {
        line-height: 40px;
    }

    h1 {
        font-size: 30px;
    }
    /* Navigation 
header nav ul.nav-top, header div.header-top {
	display: none;
}*/
    /* Page Top */
    section.page-top {
        padding: 16px 0;
    }

        section.page-top h2 {
            line-height: 38px;
        }

    .panel-body-my25plus-list {
        font-size: 11px;
    }

    .three20 {
        font-size: 24px;
    }

    header nav ul.nav-top .myaccount {
        display: block;
    }

    header nav ul.nav-top .live-chat {
        display: none;
    }

    header nav ul.nav-top .customer-help {
        display: none;
    }

    .car-img {
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .car-icon {
        display: none;
    }

    .plane-icon {
        display: none;
    }

    .health-icon {
        display: none;
    }

    .house-icon {
        display: none;
    }

    #live-chat-button {
        margin-left: 16%;
    }

    .mybox {
        font-size: 8px;
    }
}

@media (max-width: 479px) {
    /*.panel-body-my25plus-list {
	display: none;
}*/
    .panel-body-my25plus {
        display: none;
    }
}

@media (max-width: 445px) {

    h1 {
        font-size: 20px;
    }

    .panel-title-boxymo {
        font-size: 18px;
    }

    .mybox {
        font-size: 8px;
    }

    .device-font {
        font-size: 14px;
    }

    a.button-sm {
        padding: 4px 6px 4px 6px;
        display: inline-block;
        border: 1px solid #DDDDDD;
        position: relative;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 8px;
    }
}

@media (max-width: 444px) {

    .hid {
        display: none;
    }

    .mybox {
        font-size: 8px;
    }
}

@media (min-width: 360px) and (max-width: 360px) {

    .hid {
        display: none;
    }

    .panel-title-boxymo {
        font-size: 20px;
    }

    .three20 {
        font-size: 20px;
    }

    .breadcrumb {
        font-size: 11px;
    }

    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 24px;
    }

    #live-chat-button {
        margin-left: 4%;
    }

    .label-text {
        font-size: 13px;
    }

    .device-font {
        font-size: 13px;
    }

    .mybox {
        font-size: 8px;
    }

    .myboxymo {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    .three20 {
        font-size: 18px;
    }

    .car-img {
        margin-top: -40px;
        margin-bottom: 30px;
    }

    .btn-custom-darken {
        margin-left: -10%;
    }

    header nav ul.nav-top .myaccount {
        display: block;
    }

    h1 {
        font-size: 18px;
    }

    .panel-title-boxymo {
        font-size: 18px;
    }

    .breadcrumb {
        font-size: 11px;
    }

    h3 {
        font-size: 22px;
    }

    #live-chat-button {
        margin-left: -1%;
    }

    .label-text {
        font-size: 13px;
    }

    .device-font {
        font-size: 13px;
    }

    .mybox {
        font-size: 7px;
    }

    .myboxymo {
        font-size: 12px;
    }
}
